<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/logo-nav.css" rel="stylesheet">
     <script src="../vendor/jquery/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/custom.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



	 <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.5.1/math.min.js"></script>
	<script src="../plot.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top nav-border" >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../resources/full3-logo.png" width="200" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Home
              </a>
                <span class="sr-only">(current)</span>

            </li>
            <li class="nav-item active">
              <a class="nav-link" href="background.html">Background</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ML.html">Machine Learning</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Case Study</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="background: linear-gradient(to bottom right, #103f54 0%, #19054a 51%, #320554 75%); height: 100%;">
        <!-- Page Content -->
	    <div class="container" style="padding-top: 40px;min-height: 100vh;">
	    	

			<div class="row" style="padding-top: 50px;">
				<div class="col-md-12 fadein" style="margin-left:1px;margin-right:1px; margin-bottom: 10px; padding-left:1px;padding-right:1px;">
					<h1 class="subtitle" style="font-size: 3.5rem;color: white;"> Cancer</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 5px; margin-bottom: 20px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>A disease caused by mutations in cellular growth factor proteins such as RAS and P53, is a major cause of death worldwide. Oncogenesis not only occurs in many different parts of the body, but the problem of cancer locality is exacerbated by many variants of cancer’s ability to metastasize, which is a process by which cancerous cells migrate throughout the body. Metastasis is caused in part by mutations in cell adhesion proteins such as E-Cadherin. This process of metastasis renders many cancer treatments difficult or impractical, as the target of treatment no longer remains localized. Therefore, it is key to correctly identify and localize the source of cancer early in development, as to prepare the most precise and effective treatments.

					</span>
				</div>
			</div>

			<div class="row" style="padding-top: 40px;">
				<div class="col-md-12 fadein" style="margin-left:1px;margin-right:1px; margin-bottom: 10px; padding-left:1px;padding-right:1px;">
					<h1 class="subtitle" style="font-size: 3.5rem;color: white;"> Leukemia</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 5px; margin-bottom: 20px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>One of the major forms of cancer currently affecting children is leukemia. Leukemia is a type of cancer which affects blood cells, causing them to develop either prematurely (Acute), or not go through apoptosis (Chronic). In further specificity, leukemia can be broken into two types: One which primarily affects white blood cells (lymphoblastic), and another which primarily affects red blood cells (myeloid).  Due to the wide subtypes of leukemia, treatment effectiveness can maximized when the proper form of leukemia is identified.

					</span>
				</div>
			</div>

			<div class="row" style="padding-top: 15px;margin-bottom: 40px;color: white;">
				<div class="col-md-8 fadein fadein-long" style="padding-left:0px; ">
					<a id="background" class="nav-button" href="ML.html">Machine Learning Primer &nbsp;&nbsp;&nbsp;&nbsp;<img src="../resources/arrow.png" height="30"></a>
				</div>
			</div>

			
		</div>
	    <!-- /.container -->
    </div>

   
  </body>

</html>



