<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/logo-nav.css" rel="stylesheet">
     <script src="../vendor/jquery/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/custom.css">

	 <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.5.1/math.min.js"></script>
	<script src="../js/plot.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top nav-border" >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../resources/full3-logo.png" width="200" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="background.html">Background</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="ML.html">Machine Learning</a>
              <span class="sr-only">(current)</span>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Case Study</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="background: linear-gradient(to bottom right, #103f54 0%, #19054a 51%, #320554 75%); height: 100%;">
        <!-- Page Content -->
	    <div class="container" style="padding-top: 40px;min-height: 100vh;margin-bottom: 40px;">
	    	
	    	<div class="row" style="padding-top: 50px;">
				<div class="col-md-12 fadein" style="margin-left:1px;margin-right:1px; margin-bottom: 10px; padding-left:1px;padding-right:1px;">
					<h1 class="subtitle" style="font-size: 3.5rem;color: white;"> Leukemia Diagnosis</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 5px; margin-bottom: 10px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>In this case study, we take a look at patients from two different leukemia strains: Acute lymphoblastic leukemia (ALL) and Acute myelogenous leukemia (AML). As seen from the charts above, these cancer’s still carry high mortality rates, and thus identifying patients by their correct subcategory of leukemia is critical in providing precision treatment. 
					</span>
				</div>
			</div>

			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12 fadein fadein-long" style="margin-left:1px;margin-right:1px; margin-bottom: 0px; padding-left:1px;padding-right:1px;">
					<h2 class="subtitle" style="font-size: 1.5rem;color: white;"> Dataset</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 0px; margin-bottom: 20px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>Our dataset consisted of 38 leukemia patients in our training set, 27 of whom had acute lymphoblastic leukemia (ALL), and 11 of whom had acute myelogenous leukemia (AML). The data points included gene expression readouts across 7500 different genes, which are typically collected via blood sample for leukemia patients. 
					</span>
				</div>
			</div>

			<div class="row" style="padding-top: 0px;">
				<div class="col-md-12 fadein fadein-long" style="margin-left:1px;margin-right:1px; margin-bottom: 0px; padding-left:1px;padding-right:1px;">
					<h2 class="subtitle" style="font-size: 1.5rem;color: white;"> Decision Boundaries</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 0px; margin-bottom: 20px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>Using the fact that gene measurements are heavily correlated, we begun by applying Principal Component Analysis (PCA) to our dataset, reducing the dimensionality of our data from 7500 to 3. We used two classification methods: Linear Regression and Quadratic Discriminant Analysis (QDA), giving us linear and parabolic decision boundaries respectively.
					</span>
				</div>
			</div>

			<div class="row" style="padding-top: 0px;">
				<div class="col-md-12 fadein fadein-long" style="margin-left:1px;margin-right:1px; margin-bottom: 0px; padding-left:1px;padding-right:1px;">
					<h2 class="subtitle" style="font-size: 1.5rem;color: white;"> Results</h1>
				</div>
			</div>
			<div class="row" style="padding-top: 0px; margin-bottom: 20px;color: white;">
				<div class="col-md-10 fadein fadein-long" style="padding-left:0px; ">
					<span>We validate our models on a test set of 34 patients, 20 of whom have ALL, and 14 of whom have AML. Our simpler model of linear regression gives us an accuracy rate of 85.2% (29 Patients correctly classified). Moving on to Quadratic Discriminant Analysis, we see a higher accuracy rate of 91.1% (31 Patients correctly classified). Therefore, we see that our models are able to perform with high accuracy, even when given limited training data. 

					</span>
				</div>
			</div>
			<div class="row center-block">
				<div class="col-md-12" style="padding-right: 1px;padding-left: 0px;">
					<div class="row center-block" style="padding-top: 25px;">
						<div class="col-md-3 text-center fadein fadein-long" >
								<button id="MLplane" class="button"  style="width: 100%;height: 50px;padding-right: 0px;padding-left:0px;" onclick="hideValidation()">Show/Hide Test Set</button>
								
						</div>
						<div class="col-md-3 text-center fadein fadein-long" >
								<button id="MLplane" class="button"  style="width: 100%;height: 50px;padding-right: 0px;padding-left:0px;" onclick="MLShowPlane()">Plane</button>
								
						</div>
						<div class="col-md-3 text-center fadein fadein-long" >
								
								<button id="MLparabola" class="button"  style="width: 100%;height: 50px;padding-right: 0px;padding-left:0px;" onclick="MLShowParabola()">Parabola</button>
								
						</div>
						<div class="col-md-3 text-center fadein fadein-long" >
								
								<button id="MLnone" class="button"  style="width: 100%;height: 50px;padding-right: 0px;padding-left:0px;" onclick="MLHideBoundary()">No Boundary</button>
						</div>
					</div>
					<div class="row center-block" >
						
						<div class="col-md-12 text-center fadein fadein-extralong">
							<div id="MLdata" style="width:100%;height:700px;"></div>
						</div>
					</div>
				</div>
			</div>

		<!-- 	<div class="row" style="padding-top: 15px;margin-bottom: 40px;color: white;">
				<div class="col-md-8 fadein fadein-long" style="padding-left:0px; ">
					<a id="background" class="nav-button" href="case-study.html">Case Study - Leukemia &nbsp;&nbsp;&nbsp;&nbsp;<img src="../resources/arrow.png" height="30"></a>
				</div>
			</div> -->
			

			
			


			
		</div>
	    <!-- /.container -->
    </div>

   
  </body>

</html>



